*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  min-width: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  background: #fff;
}

html._lock,
body._lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

.big_wrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.assigne_cont,
.project_cont,
.provider_cont,
.stage_cont {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.assigne {
  position: relative;
}
.assigne .drop_down_title {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-right: 12px;
  cursor: pointer;
}
.assigne .icon img {
  border-radius: 50%;
}
.assigne .text {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1e1f2c;
}

.drop_down_body {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 100%;
  display: none;
  border-radius: 10px;
  background: rgb(216, 215, 215);
  z-index: 10;
}
.drop_down_body .drop_down_item {
  gap: 5px;
  display: flex;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.project,
.provider,
.stage {
  position: relative;
}
.project .drop_down_title,
.provider .drop_down_title,
.stage .drop_down_title {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 12px 6px 6px;
}
.project .drop_down_title .text,
.provider .drop_down_title .text,
.stage .drop_down_title .text {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1e1f2c;
}
.project .drop_down_title .text_bold,
.provider .drop_down_title .text_bold,
.stage .drop_down_title .text_bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1e1f2c;
}
.project .drop_down_body,
.provider .drop_down_body,
.stage .drop_down_body {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1e1f2c;
  white-space: nowrap;
}

._bordered {
  border: 1px solid rgba(30, 31, 44, 0.3);
  border-radius: 48px;
}

._back {
  background: rgba(30, 31, 44, 0.1);
  border-radius: 48px;
}

.tox-notifications-container,
.tox-statusbar {
  display: none !important;
}

.tox .tox-editor-container {
  flex-direction: column-reverse !important;
}

.rich_text {
  max-width: 500px;
}

.drag_n_drop_input {
  display: flex;
  gap: 12px;
}
.drag_n_drop_input .preview {
  display: flex;
  align-items: stretch;
  gap: 12px;
  display: none;
}
.drag_n_drop_input .preview .image {
  flex: 0 1 84px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.drag_n_drop_input .preview .svg {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #f1eff8;
  border: 1px solid rgba(30, 31, 44, 0.3);
  border-radius: 8px;
  gap: 10px;
}
.drag_n_drop_input .preview .svg .name {
  font-weight: 500;
  font-size: 15px;
  color: #1e1f2c;
}
.drag_n_drop_input .preview .svg .format {
  margin-top: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #1e1f2c;
  opacity: 0.4;
}
.drag_n_drop_input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.drag_n_drop_input label {
  border: 1px dashed rgba(30, 31, 44, 0.3);
  border-radius: 8px;
  width: 84px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.drag_n_drop_input._active .preview {
  display: flex;
}
.drag_n_drop_input.is-dragover label {
  background: rgba(49, 154, 226, 0.1);
  border: 1px dashed rgba(30, 31, 44, 0.3);
}

.calendar_row {
  padding: 40px;
  margin-left: 300px;
}

.calendar_cont {
  position: relative;
  display: inline-block;
}
.calendar_cont .input {
  display: flex;
  border: 1px solid rgba(30, 31, 44, 0.3);
  border-radius: 48px;
  align-items: center;
  padding: 5px 12px 5px 5px;
}
.calendar_cont .input .text {
  margin-left: 12px;
  font-size: 14px;
  line-height: 17px;
  color: #1e1f2c;
}
.calendar_cont .calendar {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1333333333);
  border-radius: 16px;
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.calendar_cont._active .calendar {
  opacity: 1;
  visibility: visible;
}

.subtusk_cont {
  max-width: 500px;
}

.subtask .input_desc input {
  width: 100%;
  padding: 8px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  color: #1e1f2c;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(30, 31, 44, 0.1176470588);
}
.subtask .values .subtask_added {
  display: flex;
  align-items: center;
  padding: 9px 0;
  border-bottom: 1px solid rgba(30, 31, 44, 0.1176470588);
}
.subtask .values .subtask_added .icon {
  margin-right: 10px;
}
.subtask .values .subtask_added .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1e1f2c;
  opacity: 0.7;
}
.subtask .add_subtask_button {
  cursor: pointer;
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 124%;
  letter-spacing: -0.01em;
  color: #1e1f2c;
  padding: 8px 15px 8px 10px;
  border: 1px solid rgba(30, 31, 44, 0.3);
  border-radius: 10px;
}
.subtask .add_subtask_button span {
  opacity: 0.6;
}

.calendar {
  width: 320px;
}
.calendar .calendar_header {
  height: 100px;
  border-bottom: 1px solid rgba(201, 201, 201, 0.2588235294);
  padding: 20px 28px;
}
.calendar .calendar_header .head_year {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.5px;
  color: #1e1f2c;
}
.calendar .calendar_header .head_date {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #1e1f2c;
}
.calendar .main_part {
  transition: 0.2s;
  position: relative;
}
.calendar .main_part .choose_month,
.calendar .main_part .choose_day,
.calendar .main_part .choose_time {
  display: none;
}
.calendar .main_part._month .choose_year,
.calendar .main_part._month .choose_day,
.calendar .main_part._month .choose_time {
  display: none;
}
.calendar .main_part._month .choose_month {
  display: flex;
}
.calendar .main_part._day .choose_year,
.calendar .main_part._day .choose_month,
.calendar .main_part._day .choose_time {
  display: none;
}
.calendar .main_part._day .choose_day {
  display: block;
}
.calendar .main_part._time .choose_year,
.calendar .main_part._time .choose_month,
.calendar .main_part._time .choose_day {
  display: none;
}
.calendar .main_part._time .choose_time {
  display: block;
}
.calendar .choose_year {
  width: 100%;
  height: 360px;
  overflow: auto;
}
.calendar .year {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #1e1f2c;
  padding: 10px 0;
  transition: 0.2s;
  cursor: pointer;
}
.calendar .year:hover {
  font-size: 32px;
  color: #319ae2;
}
.calendar .year._active {
  font-size: 32px;
  color: #319ae2;
}
.calendar .choose_month {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 22px;
  row-gap: 8px;
}
.calendar .choose_month .month {
  height: 50px;
  flex: 0 1 72px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  transition: 0.3s;
  font-weight: 400;
}
.calendar .choose_month .month:hover {
  border-radius: 10px;
  font-weight: 600;
  color: #ffffff;
  background: #319ae2;
}
.calendar .choose_day {
  padding: 22px;
}
.calendar .choose_day .weekdays {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #c9c9c9;
}
.calendar .choose_day .weekdays .week_day {
  flex: 0 1 14.2857142857%;
  text-align: center;
}
.calendar .choose_time {
  height: 280px;
  overflow: auto;
}
.calendar .choose_time .time {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #1e1f2c;
  padding: 10px 0;
  transition: 0.2s;
  cursor: pointer;
}
.calendar .choose_time .time:hover {
  font-size: 32px;
  color: #319ae2;
}
.calendar .choose_time .time._active {
  font-size: 32px;
  color: #319ae2;
}
.calendar .days {
  display: flex;
  flex-wrap: wrap;
}
.calendar .days .empty_day,
.calendar .days .day {
  flex: 0 1 14.2857142857%;
  text-align: center;
}
.calendar .days .day {
  height: 44px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days .day::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f4f4f4;
  border-radius: 46px;
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: 0.2s;
}
.calendar .days .day span {
  position: relative;
  z-index: 10;
}
.calendar .days .day._active::after {
  opacity: 1;
}
.calendar .calendar_footer {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid rgba(201, 201, 201, 0.2588235294);
}
.calendar .calendar_footer .go_next,
.calendar .calendar_footer .cancel {
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
  color: #319ae2;
  cursor: pointer;
  padding: 4px 14px;
  text-transform: uppercase;
}
.calendar .calendar_footer .cancel {
  font-weight: 400;
  color: #1e1f2c;
}

.coment_container {
  max-width: 500px;
}

.comment_section {
  display: flex;
  align-items: center;
  padding: 25px 30px;
  background: #f1eff8;
  border-top: 1px solid #f8f7ff;
}
.comment_section .coment {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.02em;
  color: rgba(30, 31, 44, 0.5098039216);
}
.comment_section .coment span {
  padding-left: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #1e1f2c;
}
.comment_section .last {
  margin-left: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #1e1f2c;
  opacity: 0.5;
  margin-right: 25px;
}
.comment_section .arrow {
  opacity: 0.5;
  cursor: pointer;
}
.comment_section._dark {
  background: #dedae9;
  border-top: 1px solid #f8f7ff;
}
.comment_section._reverse .arrow {
  order: 1;
  transform: scale(-1, 1);
}
.comment_section._reverse .coment,
.comment_section._reverse .last {
  order: 2;
  margin-right: 0;
}

.task_container {
  display: flex;
}

.task_desc {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1333333333);
  align-items: stretch;
  display: flex;
  max-width: 560px;
}
.task_desc .left_part {
  padding: 20px 30px;
  flex: 0 0 560px;
  width: 560px;
}
.task_desc .left_part .task_desc_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.task_desc .left_part .task_desc_header .icon {
  margin-right: 12px;
}
.task_desc .left_part .task_desc_header .title {
  font-weight: 600;
  font-size: 28px;
  line-height: 124%;
  letter-spacing: -0.01em;
  color: #0b0c17;
}
.task_desc .left_part .task_desc_header .flag {
  margin-left: auto;
}
.task_desc .left_part .task_desc_ass {
  display: flex;
  align-items: center;
}
.task_desc .left_part .task_desc_ass_2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.task_desc .left_part .textarea {
  margin-top: 30px;
}
.task_desc .left_part .textarea .textarea_title {
  font-weight: 700;
  font-size: 15px;
  line-height: 145%;
  color: #1e1f2c;
  margin-bottom: 5px;
}
.task_desc .left_part .textarea .textarea_body p {
  font-weight: 400;
  font-size: 15px;
  line-height: 132%;
  color: #1e1f2c;
  margin-bottom: 20px;
}
.task_desc .left_part .textarea .textarea_body p:last-child {
  margin-bottom: 0;
}
.task_desc .left_part .files_input {
  margin-top: 30px;
}
.task_desc .left_part .input_desc {
  margin-top: 30px;
}
.task_desc .left_part .comment_section {
  margin: 130px -30px -20px;
}
.task_desc .right_part {
  padding: 20px;
  flex: 0 0 320px;
  background: #f1eff8;
  display: none;
}
.task_desc .textarea .tox {
  height: 200px !important;
  width: 100%;
}
.task_desc._not_disabled .task_desc_header .icon,
.task_desc._not_disabled .task_desc_header .title {
  display: none;
}
.task_desc._not_disabled .task_desc_header .input_title {
  font-weight: 600;
  font-size: 28px;
  line-height: 124%;
  letter-spacing: -0.01em;
  color: #0b0c17;
  opacity: 0.5;
  border: none;
}
.task_desc._disabled .task_desc_header .input_title {
  display: none;
}
.task_desc._active {
  max-width: 880px;
}
.task_desc._active .right_part {
  display: flex;
}
.task_desc._reverse {
  flex-direction: row-reverse;
}

.coments {
  display: flex;
  flex-direction: column;
}
.coments .comments_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 124%;
  letter-spacing: -0.04em;
  color: #1e1f2c;
  margin-bottom: 40px;
}
.coments .comments {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 15px;
}
.coments .comments .upper_part {
  display: flex;
  align-items: center;
}
.coments .comments .upper_part .img {
  flex: 0 0 30px;
  margin-right: 6px;
}
.coments .comments .upper_part .img img {
  border-radius: 50%;
}
.coments .comments .upper_part .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: rgba(30, 31, 44, 0.4941176471);
}
.coments .comments .upper_part .text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1e1f2c;
}
.coments .comments .comment {
  font-weight: 400;
  font-size: 15px;
  line-height: 124%;
  color: #1e1f2c;
  padding: 5px 0 0 35px;
}
.coments .comments_footer {
  margin-top: auto;
}

.input_coment input {
  padding: 9px 15px 9px 0px;
  background: #dedae9;
  border-radius: 12px 12px 0px 12px;
  border: none;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #1e1f2c;
}